@model List<Chat>

<div class="container">
    <h3>Your Chats</h3>
    <ul>
        @foreach (var chat in Model)
        {
            <li>
                <a href="@Url.Action("Index", "Chat", new { id = chat.UserId })">@chat.FirstName @chat.LastName</a>
                <p>Last message: @chat.LastMessage</p>
                <p>Unread messages: @chat.UnreadCount</p>
            </li>
        }
    </ul>
</div>

