@model IEnumerable<DrivePal.Models.DrivingClass>
@using System.Security.Claims

@{
    ViewData["Title"] = "OwnDrivingClasses";
}

<h2>Your driving classes</h2>

<p>
    <a class="btn btn-success" asp-action="GenerateLessons">Generate Lessons</a>
    <a class="btn btn-success" asp-action="Calendar">Calendar View</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrivingClassStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrivingClassEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrivingClassStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrivingClassEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.LastName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.DrivingClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
