@model DrivePal.Models.User

@{
    var isInstructor = Model is DrivePal.Models.Instructor;
    var instructor = Model as DrivePal.Models.Instructor;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="style.css">
    <script>
        function displayDefaultPicture() {
            var input = document.getElementById('profilePicture');
            var img = document.querySelector('.profile-picture');

            if (!input.files || !input.files[0]) {
                img.src = "/img/profilepictures/defaultprofile.png";
            }
            else {
                var reader = new FileReader();
                reader.onload = function (e) {
                    img.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>
<body>

    <div class="profile-container">
        <div>
            <img class="profile-picture" src="@ViewBag.ProfilePicture" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <h2 style="text-align:center">Edit Profile</h2>
            <form method="post" action="/Home/SaveProfileChanges" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><label for="profilePicture">Profile Picture:</label></td>
                        <td>
                            <input type="file" id="profilePicture" name="profilePicture" accept="image/*" onchange="displayDefaultPicture()">
                        </td>
                    </tr>

                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input type="email" id="email" name="email" value="@Model.Email" required></td>
                    </tr>
                    <tr>
                        <td><label for="firstName">First Name:</label></td>
                        <td><input type="text" id="firstName" name="firstName" value="@Model.FirstName" required></td>
                    </tr>
                    <tr>
                        <td><label for="lastName">Last Name:</label></td>
                        <td><input type="text" id="lastName" name="lastName" value="@Model.LastName" required></td>
                    </tr>
                    <tr>
                        <td><label for="street">Street:</label></td>
                        <td><input type="text" id="street" name="street" value="@Model.Street" required></td>
                    </tr>
                    <tr>
                        <td><label for="city">City:</label></td>
                        <td><input type="text" id="city" name="city" value="@Model.City" required></td>
                    </tr>
                    <tr>
                        <td><label for="postCode">PostCode:</label></td>
                        <td><input type="text" id="postCode" name="postCode" value="@Model.PostCode" required></td>
                    </tr>
                    <tr>
                        <td><label for="dob">Date of Birth:</label></td>
                        <td><input type="date" id="dob" name="dob" value="@Model.DOB.ToString("yyyy-MM-dd")" required></td>
                    </tr>

                    <tr>
                        <td><label for="gender">Gender:</label></td>
                        <td>
                            <select id="gender" name="gender">
                                <option value="Male" selected="@((Model.Gender == DrivePal.Models.Gender.Male) ? "selected" : null)">Male</option>
                                <option value="Female" selected="@((Model.Gender == DrivePal.Models.Gender.Female) ? "selected" : null)">Female</option>
                                <option value="PreferNotToSay" selected="@((Model.Gender == DrivePal.Models.Gender.PreferNotToSay) ? "selected" : null)">Prefer Not To Say</option>
                                <option value="NonBinary" selected="@((Model.Gender == DrivePal.Models.Gender.NonBinary) ? "selected" : null)">Non-Binary</option>
                            </select>
                        </td>
                    </tr>


                    @if (isInstructor)
                    {
                        <tr>
                            <td><label for="licenceNumber">License Number:</label></td>
                            <td><input type="text" id="licenceNumber" name="licenceNumber" value="@instructor.LicenceNumber" required></td>
                        </tr>
                    }
                </table>

                <button type="submit" class="button">Save Changes</button>
                <a class="button" href="/Home/Profile">Cancel</a>
            </form>
        </div>
    </div>

</body>
</html>
