@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructors</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWYfj3P5b_LWOBFpk2xx6wqIETq66iC28&callback=initMap"></script>
    <script src="~/maps/map.js"></script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body>
    <main>

        <h3 style="text-align: center; padding-top: 20px;">Find instructors near you using the map below. Set your preferences then click "See Instructors".</h3>

        <div class="map-container">
            <div id="map" style="height: 400px;"></div>
        </div>
        <div id="sliderContainer">
            <div class="button-container">
                <button id="userLocationBtn">Find My Location</button>
                <div id="loadingSpinner" style="display: none;"></div>
            </div>
            <div class="slider-label-container">
                <label for="radiusSlider">Adjust Radius:</label>
                <div class="slider-container">
                    <input type="range" id="radiusSlider" min="2" max="20" value="11" step="0.5">
                </div>
                <span id="radiusValue">11.0 km</span>
            </div>
            <div class="button-container">
                <button id="seeInstructorsBtn">See Instructors</button>
            </div>
        </div>

        <section>
            <h2>Instructors</h2>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Post Code</th>
                        <th>Average Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var instructor in Model)
                    {
                        <tr>
                            <td>@instructor.FirstName</td>
                            <td>@instructor.LastName</td>
                            <td>@instructor.PostCode</td>
                            <td>@instructor.TotalRating</td>
                            <td>
                                <a href="@Url.Action("Create", "Reviews", new { id = instructor.Id })" class="btn btn-primary">Write a Review</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

    </main>
</body>

</html>
