@model IEnumerable<DrivePal.Models.Instructor>
@{

}
<h1>All Instructors</h1>
<hr />

<h3>Number of Instructors registered: (@ViewBag.Count)</h3>

<a class="btn btn-primary" asp-controller="StaffArea" asp-action="Index">Back to Home</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Postcode</th>
            <th>License Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.PostCode</td>
                <td>@user.LicenceNumber</td>
                <td>

                    <a class="btn btn-primary" asp-controller="StaffArea" asp-action="InstructorDetails" asp-route-id="@user.Id"> Manage Account Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
