@model DrivePal.Models.Learner

@{
    ViewData["Title"] = "Your Details";
}

<h2>@ViewBag.Name Details</h2>

<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.PostCode)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.PostCode)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.LicenceNumber)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.LicenceNumber)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.isBlocked)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.isBlocked)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.isExperienced)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.isExperienced)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.lessonCount)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.lessonCount)
            </dd>
        </dl>
    </div>
</div>

<div>
    @if (Model.isBlocked == false || Model.isBlocked == null)
    {
        <a class="btn btn-danger" asp-controller="StaffArea" asp-route-id="@Model.Id" asp-action="Block">Block User</a>
    }
    else
    {
        <a class="btn btn-warning" asp-controller="StaffArea" asp-route-id="@Model.Id" asp-action="Unblock">Unblock User</a>
    }
    <a class="btn btn-success" asp-controller="StaffArea" asp-action="AllInstructors">Back to List</a>
</div>