@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DrivePal.Models.Report
<div class="container">
<div class="row">
    <!-- Existing Content on the Left -->
    <div class="col-md-6">
        <div>
            <h1>Review Details</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Review Rating:</dt>
                <dd class="col-sm-8">
                    <div class="star-rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= Model.Review.Rating)
                            {
                                <i class="bi bi-star-fill"></i>
                            }
                            else
                            {
                                <i class="bi bi-star"></i>
                            }
                        }
                    </div>
                </dd>
                <dt class="col-sm-4">Review Content:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Review.ReviewMessage)</dd>
                <dt class="col-sm-4">Review Date:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Review.DateCreated)</dd>
                <dt class="col-sm-4">Instructor Name:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Instructor.FirstName) @Html.DisplayFor(model => model.Instructor.LastName)</dd>
            </dl>
        </div>
    </div>

    <!-- Report Details on the Right -->
    <div class="col-md-6">
        <h1>Report Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Report Reason:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ReportReason)</dd>
            <dt class="col-sm-4">Report Message:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ReportMessage)</dd>
        </dl>
    </div>
</div>
</div>
<a asp-action="ReportDetails" asp-route-ReviewId="@Model.Review.ReviewId" asp-route-ReportId="@Model.ReportId" class="btn btn-danger">Details</a> |
<a asp-action="ReportDetails" asp-route-id="" class="btn btn-danger">Details</a> |