@model IEnumerable<DrivePal.Models.Report>

@{
    ViewData["Title"] = "Reported Views";
}

<h1>Reported Reviews (@ViewBag.Count)</h1>


<table class="table">
    <thead>
        <tr>
            <th>
            Report Reason
            </th>
            <th>
              Report Additional Information
            </th>
            <th>
              Date Created
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
